@font-face {
  font-family: "Okta";
  font-style: normal;
  font-weight: normal;
  src: local("okta"), url("/fonts/okta.woff") format("woff");
}

@font-face {
  font-family: "Slab Regular";
  font-style: normal;
  font-weight: normal;
  src: local("slab_regular"), url("/fonts/slab_regular.woff") format("woff");
}

@font-face {
  font-family: "Slab Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Slab_bold"), url("/fonts/Slab_bold.woff") format("woff");
}
